<app-container>
  <div class="button-container">
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" class="button">Foto</a>
    <a routerLink="/calendario" routerLinkActive="active" ariaCurrentWhenActive="page" class="button">Calendário</a>
    <a routerLink="/setardata" routerLinkActive="active" ariaCurrentWhenActive="page" class="button">Definir proxima data</a>
  </div>
  <app-header></app-header>
  <app-headerproxima></app-headerproxima>
  <router-outlet></router-outlet>
</app-container>