:root{
    --cor-fundo-principal: rgb(255, 149, 228);
    --cor-fundo-secundario: rgb(231, 241, 255);
    --cor-texto: ();
    --cor-fundo-botao: rgb(255, 149, 228);
    --cor-texto-botao: white;
}


body {
    background: linear-gradient(180deg, var(--cor-fundo-principal) 0%, var(--cor-fundo-secundario) 100%);
    margin: 0;
    min-height: 100vh;
    color: var(--cor-texto);
    background-attachment: fixed
}

a{
    margin: 2px;
    border-radius: 10px;
    background-color: var(--cor-fundo-botao);
    color: var(--cor-texto-botao);
    text-align: center;
    margin: 10px;
    text-decoration: none;
    white-space: nowrap; /* Impede quebra de linha */
    padding: 8px 12px; /* Ajuste o padding para evitar textos muito apertados */
    display: flex; /* Para alinhar corretamente o conteúdo */
    align-items: center; /* Alinhar o texto verticalmente */
    justify-content: center; /* Centralizar o texto */
    max-width: 100%; /* Evitar que fique maior do que deveria */
}

button{
    margin: 2px;
    border-radius: 10px;
    background-color: var(--cor-fundo-botao);
    color: var(--cor-texto-botao);
    text-align: center;
    margin: 10px;
    text-decoration: none;
    white-space: nowrap; /* Impede quebra de linha */
    padding: 8px 12px; /* Ajuste o padding para evitar textos muito apertados */
    display: flex; /* Para alinhar corretamente o conteúdo */
    align-items: center; /* Alinhar o texto verticalmente */
    justify-content: center; /* Centralizar o texto */
    max-width: 100%; /* Evitar que fique maior do que deveria */
    border: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
